@mixin openSans($style: regular) {
    font-family: 'OpenSans', Helvetica, sans-serif;
    @if $style==regular{
        font-weight: 300; 
    }
    @else if $style==semibold{
        font-weight: 600; 
    }
    @else if $style==bold {
        font-weight: 700;

    }
}

@mixin roboto($style: regular) {
    font-family: 'Roboto', Helvetica, sans-serif;
    @if $style==regular{
        font-weight: 400; 
    }
    @else if $style==bold {
        font-weight: 700;

    }
}

@mixin robotoSlab($style: light) {
    font-family: 'RobotoSlab', Helvetica, sans-serif;
    @if $style==light{
        font-weight: 300; 
    }
    @else if $style==regular{
        font-weight: 400; 
    }
}

@function rem($px) {
	@return $px / 15px*1rem;
}

@mixin laptop {
	@media screen and (max-width: $laptop) {
		@content
	}
}

@mixin tablets {
	@media screen and (max-width: $tablets) {
		@content
	}
}

@mixin phones {
	@media screen and (max-width: $phones) {
		@content
	}
}

@mixin phones-small {
	@media screen and (max-width: $phones-small) {
		@content
	}
}
