.price {
    @include roboto(regular);
    margin-right: rem(21px);
    width: 50%;
    @include tablets {
        min-width:50%;
    }
}

.price--opacity-50 {
    opacity: 0.5;
}

.price__number {
    font-size: rem(50px);
    @include robotoSlab(light);
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: rem(10px);
    flex-wrap: nowrap;
    @include tablets {
        font-size: rem(36px);
    }
    @include phones-small {
        font-size: rem(26px);
    }
    &:after {
        content: '';
        display: block;
        background: url('../images/icons/rub.svg') no-repeat;
        width: rem(27px);
        height: rem(35px);
        background-size: contain;
        margin-left: rem(11px);
        @include tablets {
            width: rem(18px);
            height: rem(24px);
        }
        @include phones-small {
            width: rem(13px);
            height: rem(18px);
        }
    }
}

.price__number--strike {
    text-decoration: line-through;
}

.price__description {
    font-size: rem(20px);
    margin-bottom: rem(38px);
}