.right {
    background: $white;
    color: $black;
    width: 50%;
    padding: rem(50px) 0 0 rem(98px);
    display: flex;
    justify-content: flex-start;
}

.content--right {
    max-width: 90%;
}
